$font-google: "GoogleSans", Arial, helvetica, sans-serif;
$font-roboto: "Roboto", Arial, helvetica, sans-serif;

$color-white: #fff;
$color-txt: #000;
$color-red-1: #ef233c;
$color-red-2: #d90429;
$color-loader-bg: rgba(196, 196, 196, 0.3);
$color-bg: #f5f5f5;
$color-gray-04: rgba(0, 0, 0, 0.04);
$color-gray-15: rgba(0, 0, 0, 0.15);
$color-gray-65: rgba(0, 0, 0, 0.65);
$color-gray-75: rgba(0, 0, 0, 0.75);
